:root {
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);
    --transparent-white: hsla(0, 0%, 100%, 0.75); /* paragraphs */
    --very-light-gray: hsl(0, 0%, 95%); /* background, headings, buttons */
}

* {
    font-family: "Lexend Deca", sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: var(--very-light-gray);
    margin: 0;
}

main {
    margin-top: auto;
    display: flex;
    width: min(70em, 90%);
    min-height: 38em;
    overflow: hidden;
    border-radius: 15px;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 3em;
    padding-bottom: 4em;
}

.box1 {
    background-color: var(--bright-orange);
}

.box2 {
    background-color: var(--dark-cyan);
}

.box3 {
    background-color: var(--very-dark-cyan);
}

h1 {
    color: var(--very-light-gray);
    font-family: "Big Shoulders", sans-serif;
    font-size: 3em;
    font-weight: 500;
    text-transform: uppercase;
}

p {
    color: var(--transparent-white);
    font-size: 1.1em;
    font-weight: 300;
    letter-spacing: 0.5px;
    line-height: 1.8;
}

img {
    width: 5em;
    height: auto;
}

.box1 .cta {
    color: var(--bright-orange);
}

.box2 .cta {
    color: var(--dark-cyan);
}

.box3 .cta {
    color: var(--very-dark-cyan);
}

a.cta {
    margin-top: 1.5em;
    background-color: var(--very-light-gray);
    text-align: center;
    text-decoration: none;
    font-size: 1.1em;
    padding: 1em 2.5em;
    border-radius: 30px;
    cursor: pointer;
}

a.cta:hover {
    background-color: transparent;
    color: var(--very-light-gray);
    border: 2px solid var(--very-light-gray);
    transition: 0.1s;
}

footer {
    margin-top: auto;
    margin-bottom: 2em;
    text-align: center;
    font-size: 0.7em;
    color: gray;
}

footer a {
    color: var(--dark-cyan);
}

footer a:hover {
    color: var(--bright-orange);
}

@media only screen and (max-width: 960px) {
    body {
        display: block;
    }
    
    main {
        flex-direction: column;
        margin: 2em auto;
        width: min(35em, 90%);
    }
}